<div class="example-container">

  <div class="main-div">
  <mat-card >
    <mat-card-header>
      <mat-card-title>{{lbl_login}}</mat-card-title>
      <mat-card-subtitle>BMSA</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <div class="row">
        <div class="col contenedor">

          <mat-form-field>
            <mat-label>{{lbl_usuario}}</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{lbl_contrasena}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


            <button mat-button (click)="hacerClick()">Enviar</button>
            <button mat-button>Cancelar</button>


        </div>

      </div>


    </mat-card-actions>
  </mat-card>


  </div>
  </div>
